* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: auto;
    align-items: center;
    font-family: sans-serif;
    background-color: hsla(0, 7%, 36%, 0.192);
}

main {
    padding: 3rem;
    background-color: white;
    width: auto;
    height: auto;
}

h1 {
    font-size: 1.1rem;
    margin-bottom: 1.3rem;
}

svg {
    width: 100%;
    height: auto;
}

.profile-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-pic {
    width: 40px;
    height: auto;
}

.profile-title {
    font-size: 13px;
    color: hsla(0, 0%, 0%, 0.719);
}

.profile-name {
    font-size: 14px;
    font-weight: bold;
}

.password-container {
    margin-bottom: 1rem;
}

.password-title {
    font-size: 13px;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.819);
    margin-bottom: 3px;
}

.password-block {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.password-input {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    gap: 5px;
    padding: .5rem;
    border-radius: 8px;
    width: 250px;
}

.lock-pic {
    width: 15px;
}

.password {
    border: none;
    outline: none;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 2rem;
}

.switch-container{
    display: flex;
    align-items: center;
    gap: 3px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: all .3s ease;
    cursor: pointer;
}

.slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider{
    background-color:  #22c55e;
}

.switch input:checked + .slider::before {
  transform: translateX(16px);
}

.label-stay {
    font-size: 13px;
    cursor: pointer;
}

.continue-button{
    font-size: 13px;
    background-color: rgb(20, 3, 53);
    color: white;
    border: none;
    outline: none;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s ease;
}

.continue-button:hover{
    transform: scale(1.1);
}

.reset{
    font-size: 13px;
    color: hsla(0, 0%, 0%, 0.89);
    font-weight: bold;
}