* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    font-family: sans-serif;
}

main>h1,
section>h2,
.daily-container>p,
.weekly-container>p {
    text-align: center;
    margin-bottom: 1rem;
}

.challenges-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 90vw;
    text-align: center;
}

.weekly-container {
    flex: 1;
}

.daily-container {
    flex: 1;
}