* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
td,
th {
  color: #384150;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside section';

  max-width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: #F8FAFC;
}

aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}


::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}