main{
    padding: 0.5rem 1.3rem;

    font-size: 16px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-block:2.5rem 1.5rem;
}

.date-selector{
    border: 1px solid lightgray;
    border-radius: 5px;

    padding: 5px 10px;
}

#datepicker{
    border: none;
    outline: none;
    
    cursor: pointer;
}

.fa-calendar{
    color: gray;
}

.performance-container{
    width: 750px;

    margin-bottom: 1.3rem;
}

.performance-wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem;
}

.performance-data-container{
    padding: 1rem;

    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: #EFFDF4;
}

.performance-data-container > p{
    font-weight: bold;

    margin-bottom: 2rem;
}

.performance-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.performance-data > p{
    font-size: 24px;
    font-weight: 600;
}

.performance-sign{
    font-size: 14px;
    color: #42925B;
}

.linechart-container{
    max-width: 1070px;
    height: auto;

    padding: 2rem 1rem;
    
    border: 1px solid lightgray;
    border-radius: 15px;
}
