.components {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(525px, 100%), 1fr));
    gap: 1rem;

    padding: 0.5rem 1.3rem;
    margin-bottom: 1rem;

    font-size: 16px;
}

.components>div {
    border: 1px solid lightgray;
    border-radius: 15px;

    padding: 1rem;
}

.recent-sales-header,
.traffic-header {
    font-weight: 500;
    font-size: 16px;
}

.table-container {
    max-width: 100%;
    height: 100%;

    padding: 1rem 0rem;
}

.recent-sales-table {
    width: 100%;
    height: 100%;
}

th,
td {
    text-align: start;
    padding-block: 0.5rem;
}

th {
    font-size: 11px;
    font-weight: 500;

    color: gray;

    border-bottom: 1px solid lightgray;
}

td {
    font-size: 14px;

    border-bottom: 1px solid lightgray;
}

.traffic-header {
    margin-bottom: 1.5rem;
}

.traffic-data-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
    gap: 2rem;
}

.donutchart-container {
    overflow: visible;

    max-width: 250px;
    height: 100%;

}

#donutChart {
    width: auto;
}

.traffic-table {
    max-width: 400px;
    height: 320px;
}

.us {
    color: #3D84F6;
}

.rom {
    color: #805BEF;
}

.ger {
    color: #DC53B8;
}

.id {
    color: #E34E4E;
}

.uk {
    color: #EDD039;
}

.other {
    color: #131925;
}