@media (max-width: 768px) {
  body {
    grid-template-columns: auto 1fr auto;
  }

  aside {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  main, .components {
    width: 100vw;
  }
}